.formContainer {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subheadline {
  font-size: 1.25rem;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.jobEntry {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.textInput {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  color: #333;
  font-weight: 500;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.textInput:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.3);
}

.textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  color: #333;
  font-weight: 500;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  resize: vertical;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.3);
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.button {
  padding: 8px 14px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
}

.button:hover {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
}

.addButton {
  background-color: #28a745;
}

.addButton:hover {
  background-color: #218838;
}

.removeButton {
  background-color: #dc3545;
}

.removeButton:hover {
  background-color: #c82333;
}
